/*
 * This sheet provides style for index.html
 * Author: Justin Nichols
 * Class: CSC337
 */

form {
  margin: 25px 10px;
}

label {
  display: inline-block;
  width: 130px;
}

.in-field {
  padding: 10px;
}
