/*
 * This sheet provides style for home.html
 * Author: Justin Nichols
 * Class: CSC337
 */

* {
  margin: 0;  
}

html, body {
  height: 100%;  
}

header {
  height: 20%;
  background-color: lightblue;  
}

h1 {
  padding: 10px;
  color: darkblue;
}

form {
  margin: 25px 10px;
}

label {
  display: inline-block;
  width: 130px;
}

.in-field {
  padding: 10px;
}

#main-content {
  height: 80%;
  background-color: lightgreen;
}

#input-area, #listings-area {
  float: left;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  border: 5px solid black;
  border-collapse: collapse;
}
