/*
 * This sheet provides style for post.html
 * Author: Justin Nichols
 * Class: CSC337
 */

body {
  background-color: lightblue;  
}

h1 {
  padding: 10px 20px;
  color: darkblue;
}

h2 {
  color: darkblue;  
}

form {
  margin: 25px 10px;
}

label {
  display: inline-block;
  width: 130px;
}

.in-field {
  padding: 10px;
}
